*.ZIP
*.BMP
*.jpg
*.bak
*.log
*.pdsbak
EEPROMs/BBCBasic/BackUp/
EEPROMs/BBCBasic/Basic test/
*.dmp
*.vsix
CPLD/Altera/incremental_db/
CPLD/Altera/db/MMU.tis_db_list.ddb
CPLD/Altera/output_files/
CPLD/Altera/74138_0.vhd
CPLD/Altera/74138_1.vhd
CPLD/Altera/74825_2.vhd
CPLD/Altera/BlockMMU.bdf
CPLD/Altera/BlockMMU.bsf
CPLD/Altera/MMU.bdf
CPLD/Altera/MMU.qpf
CPLD/Altera/MMU.qsf
CPLD/Altera/MMU.vhd
CPLD/Altera/MMU1.cdf
CPLD/Altera/db/
CPLD/Xilinx/MMU/MMU.gise
CPLD/Xilinx/MMU/MMU.jhd
CPLD/Xilinx/MMU/MMU.sch
CPLD/Xilinx/MMU/MMU.xise
CPLD/Xilinx/MMU/MMU_summary.html
CPLD/Xilinx/MMU/MMU_Z80.cmd_log
CPLD/Xilinx/MMU/MMU_Z80.lso
CPLD/Xilinx/MMU/MMU_Z80.prj
CPLD/Xilinx/MMU/MMU_Z80.syr
CPLD/Xilinx/MMU/MMU_Z80_xst.xrpt
CPLD/Xilinx/MMU/webtalk_pn.xml
CPLD/Xilinx/MMU/_xmsgs/pn_parser.xmsgs
CPLD/Xilinx/MMU/_xmsgs/xst.xmsgs
CPLD/Xilinx/MMU/iseconfig/MMU.projectmgr
CPLD/Xilinx/MMU/iseconfig/MMU.xreport
CPLD/Xilinx/MMU/xst/work/hdllib.ref
CPLD/Xilinx/MMU/xst/work/hdpdeps.ref
CPLD/Xilinx/MMU/xst/work/sub00/vhpl00.vho
CPLD/Xilinx/MMU/MMU_Z80.xst
CPLD/Xilinx/MMU/MMU_Z80_envsettings.html
CPLD/Xilinx/MMU/MMU_Z80_summary.html
*.png
CPLD/RESET/incremental_db/
CPLD/RESET/db/
CPLD/VGA/ALTERA/db/
CPLD/VGA/vga_with_hw_test_image_v1_1_restored/db/
EEPROMs/~$terrupt Description.docx
