//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Thu 08 12 14:42:59 2021

IO_LOC "addrout[14]" 17;
IO_PORT "addrout[14]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[13]" 18;
IO_PORT "addrout[13]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[12]" 20;
IO_PORT "addrout[12]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[11]" 21;
IO_PORT "addrout[11]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[10]" 22;
IO_PORT "addrout[10]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[9]" 24;
IO_PORT "addrout[9]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[8]" 23;
IO_PORT "addrout[8]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[7]" 38;
IO_PORT "addrout[7]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[6]" 39;
IO_PORT "addrout[6]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[5]" 40;
IO_PORT "addrout[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[4]" 41;
IO_PORT "addrout[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[3]" 42;
IO_PORT "addrout[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[2]" 43;
IO_PORT "addrout[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[1]" 44;
IO_PORT "addrout[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "addrout[0]" 45;
IO_PORT "addrout[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "scrst" 14;
IO_PORT "scrst" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "scrend" 5;
IO_PORT "scrend" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "rgbi[3]" 8;
IO_PORT "rgbi[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "rgbi[2]" 9;
IO_PORT "rgbi[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "rgbi[1]" 13;
IO_PORT "rgbi[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "rgbi[0]" 46;
IO_PORT "rgbi[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "v_sync" 11;
IO_PORT "v_sync" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "h_sync" 10;
IO_PORT "h_sync" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "datain[7]" 27;
IO_PORT "datain[7]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "datain[6]" 28;
IO_PORT "datain[6]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "datain[5]" 29;
IO_PORT "datain[5]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "datain[4]" 30;
IO_PORT "datain[4]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "datain[3]" 31;
IO_PORT "datain[3]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "datain[2]" 32;
IO_PORT "datain[2]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "datain[1]" 33;
IO_PORT "datain[1]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "datain[0]" 34;
IO_PORT "datain[0]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "pixel_clk" 19;
IO_PORT "pixel_clk" IO_TYPE=LVTTL33 PULL_MODE=UP;
